@use '../helpers' as *;

.advantages-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: rem(30);
  
  @include laptop {
    row-gap: rem(20);
  }

  @include mobile {
    row-gap: rem(16);
  }

  &__icon {
    @include laptop {
      width: rem(40);
    }

    @include mobile {
      width: rem(30);
    }
  }

  &__link {
    display: grid;
    row-gap: rem(4);

    @include laptop {
      row-gap: rem(2);
    }
  }

  &__subtitle {
    @include fluid-text(18, 14);

    color: var(--color-gray-50);
  }

  &__description {
    font-family: var(--font-family-accent);
    color: var(--color-gray-60);
    margin-top: rem(30);

    @include laptop {
      margin-top: rem(20);
    }

    @include mobile {
      margin-top: rem(10);
    }
  }
}