@use '../helpers' as *;

.badge {
  padding: rem(4) rem(12);
  margin-left: rem(8);
  font-size: rem(16);
  background-color: var(--color-dark-10);
  color: var(--color-light);
  background:
    linear-gradient(var(--color-dark-10), var(--color-dark-10)) padding-box,
    var(--gradient) border-box;
  border: rem(1) solid transparent;
  border-radius: rem(6);

  @include laptop {
    font-size: rem(14);
    border-radius: rem(4);
  }
}