@use '../helpers' as *;

.blog-card {
  display: grid;
  grid-template-columns: 24% 1fr auto;
  column-gap: fluid(50, 28);
  padding-block: fluid(80, 40);

  @include tablet {
    grid-template-columns: 1fr auto;
    grid-template-areas: 
      'person link'
      'main main';
    row-gap: rem(30);
  }

  &__person {
    @include tablet {
      grid-area: person;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);

    @include laptop {
      row-gap: rem(24);
    }

    @include tablet {
      grid-area: main;
      row-gap: rem(20);
    }
  }

  &__date {
    @include fluid-text(20, 16);
    
    font-weight: 600;
    color: var(--color-gray-60);
  }

  &__title {
    @include fluid-text(26, 18);
  }

  &__description {
    color: var(--color-gray-60);
  }

  &__link {
    align-self: center;

    @include tablet {
      grid-area: link;
    }
  }
}