@use '../helpers' as *;

.card {
  @include tablet-above {
    display: grid;
    grid-template-columns: 37.5% auto;
  }

  &__preview,
  &__body {
    padding: rem(80);

    @include laptop {
      padding: rem(60);
    }
  }

  &__preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: fluid(60, 20);
    padding-left: 0;

    @include tablet-above {
      border-right: var(--border);
    }

    @include tablet {
      padding-right: 0;
      padding-block: rem(50);
      border-bottom: var(--border);
    }
    
    &-main {
      display: grid;
      row-gap: fluid(50, 20);

      @include tablet {
        padding-right: 0;
        border-right: none;
        justify-content: start;
      }
    }

    &-image {
      width: fluid(80, 50);
    }

    &-info {
      display: grid;
      row-gap: fluid(16, 6);

      &:has(.card__rating) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;

        @include mobile {
          width: rem(358);
        }
      }
    }

    &-title {
      font-weight: 600;

      &--unique {
        @include fluid-text(40, 20);
      }
    }

    &-description {
      @include fluid-text (20, 14);

      color: var(--color-gray-60);
    }

    &-extra {
      .tile {
        padding: fluid(30, 20);
      }

      .card__cell {
        row-gap: rem(4);

        &-subtitle {
          font-family: var(--font-family-base);
        }

        &-description {
          @include fluid-text(18, 14);
        }
      }
    }

    &-link {
      max-width: rem(600);
    }
  }

  &__body {
    padding-right: 0;

    @include tablet {
      padding: rem(30) 0;
    }
  }

  &__grid {
    display: grid;

    &--2-cols {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(30);

      @include laptop {
        gap: rem(20);
      }

      @include tablet {
        grid-template-columns: 1fr;
        gap: rem(10);
      }
    }

    &--2-cols-alt {
      gap: rem(30) rem(20);

      @include laptop {
        gap: rem(24) rem(16);
      }

      @include tablet-above {
        grid-template-columns: auto 1fr;
      }
    }

    &--3-cols {
      gap: fluid(50, 20) rem(20);

      @include laptop {
        column-gap: rem(16);
      }

      @include mobile-above {
        grid-template-columns: repeat(3, 1fr);
      }

      .tile {
        padding: fluid(30, 20);
      }

      .card__cell--wide {
        .card__cell-title {
          @include fluid-text(26, 18);

          color: var(--color-light);
        }

        .card__cell-subtitle {
          color: var(--color-gray-60);
        }
      }

      .card__cell-title {
        @include fluid-text(18, 14);

        color: var(--color-gray-60);
      }

      .card__cell-subtitle {
        color: var(--color-light);
      }
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: fluid(20, 4);

    &:has(> *:only-child) {
      justify-content: center;
    }

    &:has(.card__cell-link) {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas: 
      'other link'
      'other link';
      align-items: center;
      column-gap: rem(20);
    }

    &--wide {
      grid-column: -1 / 1;

      &:has(.card__cell-link) {
        @include mobile {
          display: flex;
          flex-direction: column;
          align-items: start;
        }

        .card__cell-link {
          @include mobile {
            margin-top: rem(20);
            margin-bottom: rem(10);
          }

          @include mobile-s {
            width: 100%;
          }
        }
      }
    }

    &-subtitle {
      color: var(--color-gray-60);
      font-size: inherit;
    }

    &-image {
      width: 100%;
      height: fluid(332, 169);
      object-fit: cover;
      border-radius: rem(12);

      @include laptop {
        border-radius: rem(10);
      }
    }

    &-link {
      grid-area: link;
    }

    &-description {
      &--unique-color {
        color: var(--color-gray-60);
      }
    }
  }
}