@use '../helpers' as *;

.metrics {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &--4-cols {
      @include tablet-above {
        grid-template-columns: repeat(4, 1fr);
      }
      
      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      .metrics__item {
        justify-content: center;
        align-items: center;
        border-right: none;

        @include tablet {
          &:first-child,
          &:last-child {
            padding: rem(30);
          }

          &:not(:last-child) {
            border-right: none;
          }

          &:nth-child(odd) {
            border-right: var(--border);
            padding-left: 0;
          }

          &:nth-child(even) {
            padding-right: 0;
          }

          &:nth-child(-n + 2) {
            border-bottom: var(--border);
          }
        }
      }

      .metrics__key {
        text-align: center;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    padding: rem(50);
    row-gap: rem(10);
    border-right: none;
    border-bottom: none;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:not(:last-child) {
      border-right: var(--border);
    }

    @include laptop {
      padding: rem(30);
      row-gap: rem(2);
    }

    @include mobile {
      padding: rem(20);
      row-gap: 0;
    }
  } 

  &__key {
    font-weight: 600;
    color: var(--color-gray-60);
  }

  &__sign {
    color: var(--color-accent);
  }
}