@use '../helpers' as *;

.news-card {
  display: grid;
  row-gap: rem(20);
  height: 100%;

  @include laptop {
    row-gap: rem(16);
  }

  @include tablet {
    justify-content: center;
  }

  &:has(.news-card__summary) {
    align-items: center;
    column-gap: rem(80);
    padding-block: fluid(80, 40);

    @include laptop {
      column-gap: rem(40);
    }

    @include tablet-above {
      grid-template-columns: 32% 1fr;
      grid-template-areas: 
        'image other'
        'image other'
        'image other';
    }

    .news-card {
      &__image {
        width: fluid(515, 358);
        height: fluid(427, 213);

        @include tablet-above {
          grid-area: image;
        }

        @include mobile {
          padding-bottom: rem(10);
        }
      }

      &__body {
        padding-top: rem(34);

        @include tablet {
          padding-top: 0;
        }
      }

      &__title {
        @include fluid-text(32, 20);

        font-family: var(--font-family-base);
        font-weight: 600;
      }

      &__description {
        @include tablet {
          font-size: rem(16);
        }
      }

      &__controls {
        display: flex;
        justify-content: space-between;
        padding-bottom: rem(34);

        @include tablet {
          padding-bottom: 0;
        }
      }
    }
  }

  &__image {
    width: fluid(515, 358);
    height: fluid(222, 185);
    border-radius: rem(12);

    @include laptop {
      border-radius: rem(10);
    }
  }

  &__body {
    display: grid;
    row-gap: rem(10);

    @include laptop {
      row-gap: rem(4);
    }
  }

  &__title {
    font-family: var(--font-family-base);
    font-weight: 500;
  }

  &__description {
    color: var(--color-gray-60);
  }

  &__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(50);
  }
}