@use '../helpers' as *;

.news {
  padding-block: fluid(80, 40);

  &__list {
    display: grid;
    gap: rem(30);

    @include tablet-above {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}