@use '../helpers' as *;

.person-card {
  display: flex;
  align-items: start;
  column-gap: rem(16);
  padding-block: rem(10);

  @include laptop {
    padding-block: 0;
    row-gap: rem(10);
  }

  @include tablet {
    column-gap: rem(8);
  }

  &__image {
    background-color: var(--color-dark-15);
    border-radius: 50%;
    width: rem(80);

    @include laptop {
      width: rem(60);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    color: var(--color-light);
    font-size: rem(20);
    font-weight: 600;

    @include laptop {
      font-size: rem(18);
    }
  }

  &__role {
    color: var(--color-gray-60);
  }
}