@use '../helpers' as *;

.report-card {
  display: flex;
  flex-direction: column;
  row-gap: fluid(30, 20);
  height: 100%;

  &__image {
    width: fluid(470, 358);
    height: fluid(290, 223);
    border-radius: rem(20);
  }

  &__body {
    display: grid;
    row-gap: rem(14);

    @include laptop {
      row-gap: rem(10);
    }
  }

  &__title {
    @include fluid-text(22, 16);

    font-family: var(--font-family-base);
    font-weight: 600;
  }

  &__description {
    color: var(--color-gray-60);
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: rem(20);
    min-width: rem(480);

    @include laptop {
      row-gap: rem(10);
    }

    @include mobile {
      min-width: rem(358);
    }
  }

  &__link {
    min-width: rem(220);

    @include mobile {
      min-width: rem(175);
    }
  }
}