@use '../helpers' as *;

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(40);

  @include laptop {
    row-gap: rem(30);
  }

  .person-card__image {
    @include laptop {
      width: rem(50);
    }
  }

  .person-card__role {
    color: var(--color-dark-40);
  }

  &__body {
    position: relative;
    padding: fluid(30, 20);
    padding-top: fluid(50, 30);
    color: var(--color-light);
    background-color: var(--color-dark-10);
    border: var(--border);
    border-radius: rem(12);
    text-align: center;
    height: 100%;

    @include tablet {
      max-width: rem(600);
    }
  }

  &__rating {
    @include abs-center;

    top: 0;
  }
}