@use '../helpers' as *;

.section {
  &__header {
    background-color: var(--color-dark-10);
    padding-block: fluid(120, 40);

    &-inner {
      &:has(.section__view) {
          display: grid;
          align-items: center;
          column-gap: 1rem;

          @include tablet {
            display: flex;
            flex-direction: column;
            align-items: start;
            row-gap: rem(30);
          }

          @include mobile-above {
            grid-template-columns: 1fr auto;
          }

          @include mobile {
            row-gap: rem(30);
          }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      row-gap: rem(16);
    }
  }

  &__subtitle {
    justify-self: start;
  }

  &__link {
    @include tablet {
      min-width: rem(358);
    }
  }

  &__body {
    border-block: var(--border);
  }
}