@use '../helpers' as *;

.section {
  &__header {
    background-color: var(--color-dark-10);
    padding-block: fluid(120, 40);

    &-info {
      display: flex;
      flex-direction: column;
      row-gap: rem(16);
    }
  }

  &__subtitle {
    justify-self: start;
  }

  
}