@use '../helpers' as *;

.table-of-contents {
  padding: rem(20);

  &__list {
    display: grid;
    row-gap: rem(20);
    

    @include laptop {
      row-gap: rem(16);
    }
  }

  &__item {
    list-style-type: disc;
    margin-left: 1.5em;
  }
}