@use '../helpers' as *;

.tag {
  @include fluid-text(20, 14);

  font-weight: 500;
  background-color: var(--color-dark-20);
  color: var(--color-light);
  border-radius: rem(4);
  padding: rem(6) rem(10);
  width: fit-content;

  @include laptop {
    padding: rem(4) rem(8);
  }
}