@use '../helpers' as *;

.video-card {
  display: grid;
  row-gap: rem(30);

  @include laptop {
    row-gap: rem(30);
  }

  &__body {
    display: grid;
    row-gap: fluid(10, 4);
  }

  &__title {
    font-family: var(--font-family-base);
  }

  &__description {
    color: var(--color-gray-60);
  }
}