@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/expandable-content';

@use 'blocks/icon';
@use 'blocks/logo';
@use 'blocks/button';
@use 'blocks/burger-button';
@use 'blocks/header';

@use 'blocks/badge';
@use 'blocks/soc1als';
@use 'blocks/footer';

@use 'blocks/metrics';
@use 'blocks/resources';
@use 'blocks/team';
@use 'blocks/advantages-card';
@use 'blocks/hero';

@use 'blocks/tag';
@use 'blocks/section';
@use 'blocks/list';
@use 'blocks/tile';
@use 'blocks/card';

@use 'blocks/tabs';
@use 'blocks/person-card';
@use 'blocks/blog-card';
@use 'blocks/actions';

@use 'blocks/download';

@use 'blocks/bordered-grid';
@use 'blocks/review-card';
@use 'blocks/rating';

@use 'blocks/about';
@use 'blocks/about-card';

@use 'blocks/hero-alt';
@use 'blocks/news-card';
@use 'blocks/summary';
@use 'blocks/news';

@use 'blocks/video-card';
@use 'blocks/video-player';

@use 'blocks/blog-details';
@use 'blocks/table-of-contents';